/* Header */
.header {
    display: inline-block;
    width: 1600px;
    padding-top: 20px;
    margin: auto;
}

/* Logo */
.logo, .logo:visited {
    float: left;
    height: 42px;
    font-size: 42px;
    line-height: 42px;
}

.light-theme .logo, .light-theme .logo:visited {
    color: #2777c9;
}

.dark-theme .logo, .dark-theme .logo:visited {
    color: #ffae00;
}

.logo:hover, .logo:focus, .logo:active {
    color: #2777c9;
}